<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns='http://www.w3.org/2005/Atom' xml:lang='ja'>
    <title>NIJIBOX Engineer Blog</title>
    <link>http://tech.nijibox.jp/</link>
    <subtitle>俺が魂を込めれば</subtitle>
    <updated>{###__LAST_UPDATED__###}</updated>
    {###___BLOG_ENTRIES___###}
</feed>
